<li>
    <div class="sidenav-header primary-color">
        <div class="nav-social">
            <p>찾고싶은 물품을 검색해주세요.</p>
           <input type="search" id = "findForm" onkeyup="find()" >
        </div>
    </div>
</li>
<div id ="findBox">

</div>
<script src="../../js/jquery-2.1.0.min.js"></script>
<script>
    var availableTags = [
        "단령",
        "유순정 초상",
        "홍명호 초상",
        "무관 초상 초본",
        "사모",
        "백한흉배",
        "호포흉배",
        "단학흉배",
        "쌍학흉배",
        "김주승",
        "허정문"
    ];



</script>