/*font-size*/
.font-size-8 {
    font-size: 8px !important;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.font-size-24 {
    font-size: 20px;
}

/* line height*/
.lh-normal {
    line-height: normal;
}

.lh-inherit {
    line-height: inherit;
}

.fwbold {
    font-weight: 700 !important;
}

.fwbold {
    font-weight: bold !important;
}

/* color */
.cus-color-deepRed {
    color: #8b1014;
}

.cus-background-deepRed {
    background-color: #8b1014;
}

.cus-color-basic{
    color: #8a6d3b;
}

.cus-background-basic {
    background-color: #8a6d3b;
}

.cus-color-white {
    color: white !important;
    /*border: solid 1px #444;*/
    /*border: solid 1px #444 !important;*/
}

.cus-color-transparent {
    color: rgba(0,0,0,0.2) !important;
    /*border: solid 1px #444;*/
    /*border: solid 1px #444 !important;*/
}

.cus-color-transparent2 {
    /*color: yellow !important;*/
    color: rgba(0,0,0,0.1) !important;
    /*border: solid 1px #444;*/
    /*border: solid 1px #444 !important;*/
}

.cus-slider-text {
    opacity: 0.8;
    margin-bottom: 20px;
}

.cus-color-black {
    color: #444 !important;
}

.cus-background-black {
    background-color: #444 !important;
}

.cus-border-black {
    border-color: #444 !important;
}

/* color */
.primary-text {
    color: #303f9f !important;
}

.primary-color {
    background-color: #303f9f !important;
}

.primary-border {
    border-color: #303f9f !important;
}

/* margin */
.bt0 {
    margin-bottom: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.ml-m30 {
    margin-left: -30px !important;
}

.m-20-20-0-20 {
    margin: 20px 20px 0px 20px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-0-20-0-20 {
    margin: 0px 20px 0px 20px !important;
}

/* sketch */
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* modal */
#modal-btn {
    width: 90vw !important;
    margin: 0vw 5vw 5vw 5vw !important;
    /*padding : 10px;*/
}

.draw-btn-div {
    width: 100% !important;
    text-align: center !important;
}

/* 정렬 */
.table {
    display: table;
}

.vamiddle {
    display: table-cell;
    vertical-align: middle;
}

/* size */
.fullSize {
    height : calc(100vh - 56px);
    width : 100vw;
}



.canvasSize {
    position: relative;
    /*width: 90vw; !important;*/
    border: 1px solid black; !important;

}

.pos-ab {
     position: absolute;
 }

.pos-ab-center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.pos-re {
    position: relative;
}

/* index */
.main-footer {
    height: 56px !important;
}

#black-blur {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background:black;
    background:rgba(0,0,0,0.8);

    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}

.width-100 {
    width : 100% !important;
}
.width-50 {
    width : 50vw !important;
    height : 15vh !important;
    background-color: #8b1014;
    float:right
}
.custom-middle{
    vertical-align: middle;
}
.custom-button1{
    width : 90% !important;
    width : 90% !important;

}
.custom-color1 {
    border: 3px solid grey;
    background-color:rgba(0,0,0,0.6) !important;
}

.custom-color2{
    /*padding: 10px; !important;*/
    background-color:rgba(0,0,0,0.6) !important;
}

.custom-color3 {
    background-color:rgba(0,0,0,0.1) !important;
}

.custom-white{
    background-color:white;!important;
}

.custom-color1:hover {
    background-color:rgba(255,255,255,0.4) !important;
}


.full-square {
    width : 100vw !important;
    height : 70vh !important;
    background-color: white;
}

.full-square-outer {
    width : 100vw !important;
    height : 73vh !important;
    background-color: #8a6d3b;
}

.z-index-front {
    z-index: 9999;
}

.z-index-back {
    z-index:1;
}

.z-index-middle {
    z-index: 5000;
}

.z-index-2 {
    z-index: 2 !important;
}


/* display CSS */

.title-img-resizing {
    width : 40vw;
    height: auto;
    display : inline !important;
}

.align-c {
    text-align: center !important;
}

.cus-color-1 {
    color : black !important;
    /*color : #444 !important;*/
}



.cus-color-background-1{
    background-color : #444 !important;
    /*background-color : #444 !important;*/
}

.cus-background-1 {
    background-color : #444 !important;
    padding: 5px;
    font-size:20px !important;
}

.cus-background-black {
    background-color : #444 !important;
    /*padding: 5px;*/
    /*font-size:20px !important;*/
}

.cus-background-transparent {
    background-color : transparent !important;
    /*padding: 5px;*/
    /*font-size:20px !important;*/
}

.tool-bar {
    border-bottom: 2px solid #444 !important;
}

.logo-img-resizing {
    width : 120px !important;
    height: auto;
    display:inline !important;
}

.index-bottom-center {
    width : 30vw !important;
    height: auto;
    display:inline !important;
}

/* color */
.white-color {
    background-color: white !important;
}

.black-text {
    olor: black !important;
}

.one-line {
    /*display: inline-block !important;*/
    /*display:block !important;*/
    display:inline !important;
}

/* paint-draw */

.draw-pen-set {
    width : 40vw !important;
    display : inherit !important;
}

.draw-pen-status {
    width : 10vw !important;
}

.draw-color-set {
    width : 30vw !important;
}

.m-10-10-10-0 {
    margin : 20px 20px 20px 0px !important;
}

.p-0-40-20-0 {
    padding: 0px 40px 20px 0px !important;
}

.p-5 {
     padding : 5px !important;
 }

.p-0 {
    padding : 0px !important;
}

.width-max {
    width : 100vw !important;
    height : 30vh !important;
}

.height-100 {
    height : 100% !important;
}

.m-10-10-66-10 {
    margin : 10px 10px 66px 10px !important;
}

/* like btn css */
.heart-btn {
    color : red !important;
}

/* tooltip*/
output {
    position: absolute;
    background-image: linear-gradient(#444444, #999999);
    width: 40px;
    height: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    left: 0;
    margin-left: -1%;
}
output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}
.tool-select{
    width:60px;
    height:60px;
}

.vw50 {
    width:50%;
}

.vw100 {
    width:100vw !important;
}

.overflow{
    white-space:nowrap !important;
    text-overflow:ellipsis !important;
    overflow:hidden !important;

}

.inline{
    display:inline !important;
}

.cus-page {
    margin-top: 56px;
    /*overflow: auto;*/
}