/*font-size*/
.font-size-10 {
    font-size: 10px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-20 {
    font-size: 20px;
}

/* line height*/
.lh-normal {
    line-height: normal;
}

.lh-inherit {
    line-height: inherit;
}

.fwbold {
    font-weight: bold;
}

/* margin */
.mt0 {
    margin-top: 0px !important;
}

.ml-m30 {
    margin-left: -30px !important;
}

/* sketch */
canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* modal */
#modal-btn {
    width: 90vw !important;
    margin: 0vw 5vw 5vw 5vw !important;
    /*padding : 10px;*/
}

.draw-btn-div {
    width: 100% !important;
    text-align: center !important;
}

/* color */
.primary-text {
    color: #303f9f !important;
}

.primary-color {
    background-color: #303f9f !important;
}

.primary-border {
    border-color: #303f9f !important;
}

/* 정렬 */
.table {
    display: table;
}

.vamiddle {
    display: table-cell;
    vertical-align: middle;
}

/* size */
.fullSize {
    height : calc(100vh - 56px);
    width : 100vw;
}


.canvasSize {
    position: relative;
    width: 90% !important;
    height: 90vw !important;
    margin: 5vw !important;
    /*padding: 0px 10px 10px 10px;*/
}

.pos-ab {
     position: absolute;
 }

.pos-re {
    position: relative;
}

/* index */
.main-footer {
    height: 56px !important;
}

#black-blur {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background:black;
    background:rgba(0,0,0,0.8);

    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}

.width-100 {
    width : 100px !important;
    width : 100px !important;
}
.custom-middle{
    vertical-align: middle;
}
.custom-button1{
    width : 90% !important;
    width : 90% !important;

}
.custom-color1 {
    border: 3px solid grey;
    background-color:rgba(0,0,0,0.6) !important;
}
.custom-white{
    background-color:white;!important;
}

.custom-color1:hover {
    background-color:rgba(255,255,255,0.4) !important;
}


.full-square {
    width : 100vw !important;
    height : 70vh !important;
    background-color: white;
}

.full-square-outer {
    width : 100vw !important;
    height : 73vh !important;
    background-color: #8a6d3b;
}

.z-index-front {
    z-index: 9999;
}

.z-index-back {
    z-index:1;
}

.z-index-middle {
    z-index: 5000;
}


/* display CSS */

.title-img-resizing {
    width : 55vw;
    height: auto;
    /*align: center !important;*/
}

.align-c {
    text-align: center !important;
}

.cus-color-1 {
    color : #8a6d3b !important;
}

.cus-color-background-1{
    background-color : #8a6d3b !important;
}

.cus-background-1 {
    background-color : #8a6d3b !important;
    padding: 5px;
    font-size:20px !important;
}

.tool-bar {
    border-bottom: 1px solid #8a6d3b !important;
}

.logo-img-resizing {
    width : 40vw !important;
    height: auto;
}

/* color */
.white-color {
    background-color: white !important;
}

.one-line {
    /*display: inline-block !important;*/
    /*display:block !important;*/
    display:inline !important;
}

/* paint-draw */

.draw-pen-set {
    width : 37vw !important;
}

.draw-pen-status {
    width : 10vw !important;
}

.draw-color-set {
    width : 30vw !important;
}

.m-10-10-10-0 {
    margin : 20px 20px 20px 0px !important;
}

.width-max {
    width : 100vw !important;
    height : 30vh !important;
}

.m-10-10-66-10 {
    margin : 10px 10px 66px 10px !important;
}